<footer>
  <h1>NORDIC ROSE</h1>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam quam laboriosam quidem iure eligendi unde nihil
    harum voluptatem modi dolorem animi explicabo qui quisquam</p>
  <ul>
    <li><a href="">Twitter</a></li>
    <li><a href="">LinkdIn</a></li>
    <li><a href="">RSS</a></li>
  </ul>
  <p>© 2012–2020 Nordic Rose Co.</p>
  <p>All rights reserved.</p>
</footer>
