<header>
  <h1><a href="/">NORDIC ROSE</a></h1>
  <nav>
    <ul>
      <li><a href="/">ALL</a></li>
      <li><a href="/new-article">NEW ARTICLE</a></li>
    </ul>
    <i class="fas fa-bars"></i>
  </nav>
</header>
<section id="hamburger">
  <div>
    <h1><a href="/">NORDIC ROSE</a></h1>
    <i class="fas fa-times"></i>
  </div>
  <ul>
    <li><a href="/">ALL</a></li>
    <li><a href="/new-article">NEW ARTICLE</a></li>
  </ul>
</section>
